<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="/pakinguo/demo/resource/lib/seajs/sea.js"></script>
    <script src="/pakinguo/demo/resource/conf/conf.js"></script>
</head>
<body>
<div>test</div>
<script type="text/javascript">
    seajs.config({map:[["app/test/js/index.js","app/test/js/index.js?629813536"],["app/test/js/alert.js","app/test/js/alert.js?629813456"],["app/md1/js/md1.index.js","app/md1/js/md1.index.js?629813384"],["app/md1/js/md2.js","app/md1/js/md2.js?629813416"],["app/test/js/a.js","app/test/js/a.js?629813432"],["app/test/js/b.js","app/test/js/b.js?629813480"]]})
    seajs.use('{lang}/test/js/index.js');
</script>
</body>
</html>